gradio[oauth]
requests
smolagents
duckduckgo-search
openai
faiss-cpu
sentence-transformers
pandas
sympy
Pillow
torch
transformers
openai-whisper
google-generativeai
numpy
yt-dlp
python-dotenv
wikipedia
beautifulsoup4